<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>戦国武将性格診断</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <h1>戦国武将性格診断</h1>
  <div id="question-box">
    <p id="question-text"></p>
    <div id="choices">
      <button id="yes-btn">はい</button>
      <button id="no-btn">いいえ</button>
    </div>
    <button id="result">結果</button>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
